<div class="container-fluid mt-5 about-style" id="aboutid">
<div class="row">
  <div class="col-md-10 col-12 mx-auto">
     <h1 class="text-center main-heading">About Us</h1>
     <p class="text-center sub-heading">Grow Your Business With Us.</p>
      <div class="row">
         <div class="col-md-6 col-12 hero-text">
<figure>
  <img src="images/about.svg" alt="">
</figure>
  </div>
{{! right side}}
 <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
<h1 style="font-size: 4.2rem;">we are Professional Developers ✌️</h1>
<p>welcome to <span class="bold-style">HS Webs</span> Lorem ipsum, dolor sit o, sit odio iure voluptatum.</p>
  <button class="btn-style btn-primary">Read More</button>
  </div>
</div>
  </div>
</div>
</div>