<!DOCTYPE html>
<html> 
{{>headerlink}}
{{>navbar}}
{{>header}}

    <section style="background-color: rgb(45, 150, 243);color:white;padding:20px">
        <h2 class="mt-5 mb-5" style="text-align: center;">About Us</h2>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-7" style="background-color: #1b0d61; padding: 50px;">
                  <br>  <h2 style="color: white;text-align:center">Introduction</h2>
                    <p style="color: white;">Welcome to our website. Explore our services and join our community!</p>
                    <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veritatis hic eos veniam facilis consequatur quam laudantium maiores, magni eius pariatur dignissimos architecto! Consectetur consequuntur porro aperiam. Ipsum excepturi rem dolores perferendis necessitatibus molestias molestiae unde tempore, quibusdam ex suscipit officia! Ea, corporis aut iusto corrupti in laboriosam possimus eaque!</p>
                </div>
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1465987700/photo/digital-screen-with-encryption-data-background-big-data-with-binary-computer-code-safe-your.webp?b=1&s=170667a&w=0&k=20&c=XcpuEuEoUvsFp9b7OtTIL12zzinlDTCKHfV90ho2cxY=" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
  <img style="height: 300px;" src="https://media.istockphoto.com/id/1418475387/photo/robotic-hand-pressing-a-keyboard-on-a-laptop-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=SH8IT_AwvssL7wNgwQpl5PGo_IXt7aKd_TeV9UGFBic=" class="card-img-top" alt="...">
  <div class="card-body" style="color: white;background-color:#1b0d61">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
                </div>
                 <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
  <img style="height: 300px;" src="https://media.istockphoto.com/id/888477728/photo/abstract-digital-network-communication.webp?b=1&s=170667a&w=0&k=20&c=Qee4AoP4fieqtQ5h4bLNDKodTntYTypPVsK9I5xMlXM=" class="card-img-top" alt="...">
  <div class="card-body" style="color: white;background-color:#1b0d61">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
                </div>
                 <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
  <img style="height: 300px;" src="https://media.istockphoto.com/id/1486626509/photo/woman-use-ai-to-help-work-or-use-ai-everyday-life-at-home-ai-learning-and-artificial.webp?b=1&s=170667a&w=0&k=20&c=0hLE8QKIJR4d7kts1kCN_SJ0FYH-5BhOV1KKKY21prA=" class="card-img-top" alt="...">
  <div class="card-body" style="color: white;background-color:#1b0d61">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: rgb(45, 150, 243);color:white;padding:20px">
        <h2 class="mt-5 mb-5" style="text-align: center;">Our Services</h2>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body" style="color: white;background-color:#1b0d61">
                            <h5 class="card-title">Special Title Treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go Somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body" style="color: white;background-color:#1b0d61">
                            <h5 class="card-title">Special Title Treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go Somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body" style="color: white;background-color:#1b0d61">
                            <h5 class="card-title">Special Title Treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go Somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body" style="color: white;background-color:#1b0d61">
                            <h5 class="card-title">Special Title Treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go Somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>
