 <!--<header>
        <img src="https://media.istockphoto.com/id/1437969316/photo/digital-screen-with-encryption-data-background-big-data-with-binary-computer-code-safe-your.webp?b=1&s=170667a&w=0&k=20&c=uf_I1FD2YxRd3Xju6p3JFyVFqQevYsljNvp89lICH_k=" alt="">
        <h1 style="text-align: center;">Learn Mern Development with us.</h1>
    </header>-->
    <header id="header">
    <h1 style="text-align: center;">Learn Mern Development with us.</h1>
<h6 style="text-align: center;">Let's learn together.</h6>
</header>
