<nav>
        <ul>
            <li><a href="#" style="margin-right: 200px;font-weight:900;font-size:x-large;color:blue">HS-tech</a></li>
            <li><a href="/" style="margin-left: 500px;">Home</a></li>
            <li><a href="/Secret">Secret</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>